nodeRed/test1.txt
[{"id":"4c013075.5ab0a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"caa78395.77456","type":"inject","z":"4c013075.5ab0a","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":300,"wires":[["c5599813.2daf1"]]},{"id":"ce898e5d.9d97c","type":"inject","z":"4c013075.5ab0a","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":340,"wires":[["c5599813.2daf1"]]},{"id":"c5599813.2daf1","type":"mqtt out","z":"4c013075.5ab0a","name":"","topic":"htl/3ahel/marek/out","qos":"","retain":"","broker":"de0c09f1.bec55","x":890,"y":320,"wires":[]},{"id":"a160f211.e47218","type":"mqtt in","z":"4c013075.5ab0a","name":"","topic":"htl/3ahel/#","qos":"2","broker":"de0c09f1.bec55","x":480,"y":440,"wires":[["e0c4e79b.73eda"]]},{"id":"e0c4e79b.73eda","type":"debug","z":"4c013075.5ab0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":440,"wires":[]},{"id":"e7d6dc6b.156c68","type":"inject","z":"4c013075.5ab0a","name":"JSON","topic":"","payload":"{\"test\":23,\"name\":\"Marek\"}","payloadType":"json","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":240,"wires":[["c5599813.2daf1"]]},{"id":"de0c09f1.bec55","type":"mqtt-broker","z":"","name":"Htl-Klu","broker":"iotmqtt.htl-klu.at","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]